@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-VariableFont_wght.ttf') format('.ttf')
}

.menu{
    width: 40px;
    height: 40px;
}

body{
    background-color: bisque;
    margin: 0px;
}

ul{
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.textLi{
    padding-top: 6px;
    padding-left: 2%;
    padding-bottom: 4px;
    display: inline-block;
}

.menuLi{
    float: right;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 3px;
    padding-top: 2px;
}

@media (min-width: 600px){
    .menu{
        display: none;
    }
}

@media (max-width: 600px){
    .textLi{
        padding-top: 10px;
    }
}

a{
    text-decoration: none;
    color: black;
}

nav{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    background-color: white;
    padding: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    justify-content: space-between;
}



/* Исправить шрифты