@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: 'Roboto Slab';
    src: url('/-Msite/fonts/RobotoSlab-VariableFont_wght.ttf') format('.ttf')
}

.menu{
    width: 40px;
    height: 40px;
}

body{
    background-color: rgb(250, 231, 207);
    margin: 0px;
}

ul{
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.textLi{
    padding-top: 6px;
    padding-left: 2%;
    padding-bottom: 4px;
    display: inline-block;
}

.menuLi{
    float: right;
    background-color: rgb(255, 240, 223);
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 4px;
    padding-top: 4px;
    border: 2px solid rgb(238, 200, 154);
}

@media (min-width: 600px){
    .menu{
        display: none;
    }
}

@media (min-width: 600px){
    .menuLi{
        border: none;
        background-color: white;
    }
}

@media (max-width: 600px){
    .textLi{
        padding-top: 12px;
    }
}

a{
    text-decoration: none;
    color: black;
}

nav{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    background-color: white;
    padding: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    justify-content: space-between;
}

hr{
    background-color: rgb(239, 193, 136);
    height: 2px;
    margin: 0 40px 0 40px;
    border: none;
}